@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Maven Pro', sans-serif;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: rgb(0,0,0);
    /* background: linear-gradient(163deg, rgba(20,0,0,1) 0%, rgba(14,14,20,.9) 53%, rgba(0,38,42,1) 100%); */
    overflow-x: hidden;
}
body{
    height: 200vh;
}

.header{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 90px;
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #0002;
    border-bottom: 1px solid #ccc1;
    padding: auto 2rem;
}
.header .header-right-section
{
    width: 40vw;
}
.header .header-right-section ul{
    width: 100%;
    display: flex;
    gap: 3;
    justify-content: space-around;
    align-items: center;
}
.header .header-right-section ul li{
    list-style: none;
}
.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    outline: none;
    mix-blend-mode:color-dodge ;
}
.webg-box{
    background: linear-gradient(163deg, rgba(20,0,0,1) 0%, rgba(14,14,20,.9) 53%, rgba(0,38,42,1) 100%);
    height: 100vh;
    width: 100vw;
}
.div{
    width: 100%;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

}
h1{
    z-index: 1;
    color: #fff;
    font-size: 120px;
 text-align: center;
}

.cursor {
    position: absolute;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    background-color: white;
    z-index: 10000;
    border: 2px solid white;
    box-shadow: 0 0 30px 0 white ;
    height: 30px;
    width: 30px;
    overflow: hidden;
  }